@import url("blog.css");
#factimg{
	width:250px;
	border: 3px solid #6f2232;
	padding:5px;
	margin:5px;
}
.facts{
	list-style-type: circle;
	text-align:justify;
	line-height: 30px;
}
.logo{
	height:150ox;
	width:150px;
	border-radius: 70%;
	justify-self: center;
}